@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@300&display=swap');
body{
  font-family: sans-serif;
}
h1{
  font-family: sans-serif;
}
p{
  font-family: sans-serif;
}
.container {
    background-color:#FDF8EF;
    width:400px;
    height:500px;
    position:fixed;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding:20px;
    right:20px;
    top:20px;
    overflow-y: scroll;
}

.card .description {
    display: none;
  }

.card:hover .cover {
display: none;
}

.card:hover .description {
display: inline;
}
